
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500|Source+Sans+Pro:400,600,700');

// Color variables
$white: #ffffff;

$primary: #67a8e4;
$success: #4ac18e;
$info: #3bc3e9;
$warning: #ffbb44;
$danger: #ea553d;
$dark: #1d1e3a;
$muted: #707070;

$pink: #f06292;
$purple: #6d60b0;
$indigo: #5468da;
$teal: #009688;
$lime: #afb42b;
$orange: #fb8c00;
$brown: #8d6e63;
$blue-grey: #90a4ae;

$lightdark5: #555555;
$lightgray: #dddddd;
$light: #eeeeee;
$lightdark3: #333333;
$lightdark4: #444444;
$light5: #f5f5f5;
$light3: #f3f3f3;
$light9: #f9f9f9;
$light-alt: #fafafa;
$lightdark7: #797979;
$lightdark-alt: #cccccc;

$bg-body: #f5f5f5;
$left-bar: #263238;

$font-primary: 'Source Sans Pro', sans-serif;
$font-secondary: 'Roboto', sans-serif;


// Width variables
$width: 100%;


// Height variables
$height: 100%;


